.container {
  background-color: rgba(128, 128, 128, 0.229);
  padding: 2rem;
}
.titulo {
  border-bottom: solid 1px;
  border-color: rgba(128, 128, 128, 0.519);
}

.cuerpo input {
  width: 80%;
  height: 22px;
  border-radius: 5%;
  border: solid 1px rgba(128, 128, 128, 0.519);
  margin-right: 3px;
}

.cuerpo button {
  width: 80px;
  height: 25px;
  background-color: green;
  color: white;
  border-radius: 5%;
  border: solid 1px rgba(128, 128, 128, 0.519);
  margin-right: 3px;
}
.resultado{
    width: 30%;
}

.lista {
    margin-top: 1rem;
    
  display: flex;
}
.tabla{
    width: 100%;
}
.titulo-tabla{
    display: flex;
}

.delete{
    color: red;
    font-weight: bold;
}